{
  "extends": ["react-app", "eslint:recommended"],
  "rules": {
    "flowtype/require-valid-file-annotation": [
      1,
      "always",
      {
        "annotationStyle": "line"
      }
    ],
    "no-console": "warn",
    "no-unused-vars": ["warn", {
      "argsIgnorePattern": "^_",
      "args": "all"
    }]
  }
}
